.row-header{
    margin:0px auto;
    padding:0px;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: #dbb08d;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #6E3F19;
    color:floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.bg-light {
    background-color: #dbb08d !important;
}
.table .thead-dark th{
    color:floralwhite;
    background-color:#6E3F19
}
tr:hover {background-color:#dbb08db0!important}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;   
    border-bottom: 1px solid #ddd;   
    padding: 10px;
}

.carousel{
background: #914d15b0;
}
.carousel-item{
height:200px;   
}
.carousel-item img{
    position: absolute;
    top:0;
    left:0;
    min-height: 200px;
}
#carouselButtons{
right:0px;
position: absolute;
bottom: 0px;
}

#carouselButtons {
    z-index: +1;
    }

    body{margin-top:20px;
    margin-bottom: 20px;}
    /*
    Foods menu
    */
    
    .food-menu-card {
        padding: 30px 30px;
        background-color: #dbb08db0;
        border-radius: 8px;
    }
    
    .food-menu-card .media {
        margin-bottom: 20px;
    }
    
    .food-menu-card .media .img-fluid {
        border-radius: 3px;
        width: 80px;
    }
    
    .food-menu-card .media .d-flex {
        position: relative;
    }
    
    .food-menu-card .media .d-flex:before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #914d15b0(255, 255, 255, 0.2);
        top: 50%;
    }
    
    .food-menu-card .media h3 {
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        padding-right: 1.07143rem;
        z-index: 2;
    }
    
    .food-menu-card .media strong {
        display: block;
        padding-left: 15px;
        z-index: 2;
        position: relative;
    }
    
    .tabs-menu-nav > li > a {
        color: black;
        display: block;
        font-size: 16px;
        border-bottom: 3px solid transparent;
        opacity: 0.5;
    }
    
    .tabs-menu-nav > li > a.active {
        opacity: 1;
        border-bottom-color: #552d0db0;
    }
    .media-body, p {
        color: black;
    }